.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: linear-gradient(to bottom, #ffe8e8, #ff6f61);
  }

  .forgot-password-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .success-message {
    color: #28a745;
  }

  .error-message {
    color: #dc3545;
  }
